<div class="container">
    <div id="navigation">
        <!-- Navigation Menu-->
        <ul class="navigation-menu">
            <li class="has-submenu active">
                <a href="index.html"><i class="md md-dashboard"></i>Dashboard</a>
            </li>
            <li class="has-submenu">
                <a href="#"><i class="md md-color-lens"></i>Beneficiário</a>
                <ul class="submenu">
                    <li><a href="ui-buttons.html">Buttons</a></li>
                </ul>
            </li>

            <li class="has-submenu">
                <a href="#"><i class="md fa-calendar"></i>Agendamento</a>
                <ul class="submenu">
                    <li><a href="components-grid.html">Grid</a></li>
                </ul>
            </li>

            <li class="has-submenu">
                <a href="#"><i class="md md-class"></i>Financeiro</a>
                <ul class="submenu">
                    <li><a href="components-grid.html">Gerar Boleto</a></li>
                </ul>
            </li>

            <li class="has-submenu">
                <a href="#"><i class="md md-pages"></i>Exames</a>
            </li>

        </ul>
        <!-- End navigation menu -->
    </div>
</div>