<!-- Navigation Bar-->
<header id="topnav">
    <div class="topbar-main">
        <div class="container">

            <!-- Logo container -->
            <div>
                <a routerLink="/dashboard">
                    <div class="logoimg">
                        <img src="assets/images/iamspe/logo_iamspe2.png"  />
                    </div>
                    <div class="logo">
                        <div>
                            <span>Iamspe</span>
                        </div>
                        <div class="logodesc">
                            A saúde do servidor
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Logo container-->

        </div>
    </div>
    <!-- End topbar -->
</header>
<!-- End Navigation Bar-->

<!-- ============================================================== -->
<!-- Wrapper - Principal Pages                                      -->
<!-- ============================================================== -->
<div class="wrapper" style="border: 0px solid red; margin-top: 65px;">
    <div class="container">

        <router-outlet></router-outlet>

    </div> <!-- end container -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper - Principal Pages                                  -->
<!-- ============================================================== -->


<!-- Footer -->
<footer class="footer text-right">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                2020 © IAMSPE | Instituto de Assistência Médica ao Servidor Público Estadual de São Paulo
            </div>
            
        </div>
    </div>
</footer>
<!-- End Footer -->

