<a href="#" data-target="#" class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="true">
    <i class="md md-notifications"></i> 
    <span class="badge badge-xs badge-pink">3</span>
</a>
<ul class="dropdown-menu dropdown-menu-lg">
    <li class="text-center notifi-title">Notificação</li>
    <li class="list-group nicescroll notification-list">
        <!-- list item-->
        <a href="javascript:void(0);" class="list-group-item">
            <div class="media">
                <div class="pull-left p-r-10">
                    <em class="fa fa-diamond noti-primary"></em>
                </div>
                <div class="media-body">
                    <h5 class="media-heading">A new order has been placed A new
                        order has been placed</h5>
                    <p class="m-0">
                        <small>There are new settings available</small>
                    </p>
                </div>
            </div>
        </a>

        <!-- list item-->
        <a href="javascript:void(0);" class="list-group-item">
            <div class="media">
                <div class="pull-left p-r-10">
                    <em class="fa fa-cog noti-warning"></em>
                </div>
                <div class="media-body">
                    <h5 class="media-heading">New settings</h5>
                    <p class="m-0">
                        <small>There are new settings available</small>
                    </p>
                </div>
            </div>
        </a>

        <!-- list item-->
        <a href="javascript:void(0);" class="list-group-item">
            <div class="media">
                <div class="pull-left p-r-10">
                    <em class="fa fa-bell-o noti-success"></em>
                </div>
                <div class="media-body">
                    <h5 class="media-heading">Updates</h5>
                    <p class="m-0">
                        <small>There are <span class="text-primary">2</span> new
                            updates available
                        </small>
                    </p>
                </div>
            </div>
        </a>

    </li>

    <li>
        <a href="javascript:void(0);" class=" text-right">
            <small><b>Ver todas as notificações...</b></small>
        </a>
    </li>

</ul>