<div class="wrapper-page">

    <div class="text-center" style="margin-top: -100px !important;">
        <a href="index.html" class="logo logo-lg">
            <div style="border: 0px solid red;" class="logoimg">
                <img src="assets/images/iamspe/logo_iamspe3.png" width="200px" height="auto" />
            </div>
        </a>
    </div>

    <br><br>

    <form [formGroup]="resourceForm" (submit)="submitForm()" class="text-center m-t-20">
        <div class="user-thumb">
            <img src="assets/images/users/avatar-1.jpg" class="img-responsive img-circle img-thumbnail"
                 alt="thumbnail">
        </div>
        <div class="form-group">
            <h3>Rafael Felipe Cuinto</h3>
            <p class="text-muted">Digite sua senha para acessar.</p>
            <div class="input-group m-t-30">
                <input class="form-control" type="password" id="senha" formControlName="senha" required placeholder="Senha" >
                <i class="md md-vpn-key form-control-feedback l-h-34" style="left:6px;"></i>
                <span class="input-group-btn"> 
                    <button [disabled]="submittingForm || resourceForm.invalid" type="submit" class="btn btn-email btn-primary waves-effect waves-light">
                        Entrar
                    </button>
                </span>
            </div>
            <div class="col-xs-12">
                <app-form-field-error [form-control]="resourceForm.get('senha')"></app-form-field-error>
            </div>
        </div>
        <div class="text-right">
            <a routerLink="/login" class="text-muted"> Não é o Rafael Cuinto?</a>
        </div>

        <br>

        <div>
            <app-server-error-messages [server-error-messages]="serverErrorMessages"></app-server-error-messages>
        </div>
    </form>
</div>