<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center" >
        <h3 class="text-themecolor">
            {{pageTitle}}
        </h3>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLink="/">Home</a>
            </li>
            <li *ngFor="let item of items" class="breadcrumb-item" [class.active]="isTheLastItem(item)">
                <span *ngIf="isTheLastItem(item)">
                    {{item.text}}
                </span>
                <span *ngIf="!isTheLastItem(item)">
                    <a [routerLink]="item.link">
                        {{item.text}}
                    </a>
                </span>
            </li>
        </ol>
    </div>
    
    <div *ngIf="showButton" class="col-md-7 align-self-center text-right d-none d-md-block">
        <a [routerLink]="buttonLink" class="btn" [ngClass]="buttonClass">
            <i [ngClass]="buttonClassIcon"></i>&nbsp;&nbsp;{{buttonText}}
        </a>
    </div>

    <div class="">
        <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10">
            <i class="ti-settings text-white"></i>
        </button>
    </div>
</div>
  