<div class="wrapper-page">

    <div class="text-center">
        <a href="index.html" class="logo logo-lg">

            <div style="border: 0px solid red;" class="logoimg">
                <img src="assets/images/iamspe/logo_iamspe3.png" width="200px" height="auto" />
            </div>

        </a>
    </div>

    <div class="form-horizontal m-t-20">
        <form [formGroup]="resourceForm" (submit)="submitForm()">
            <div class="form-group">
                <div class="col-xs-12">
                    <input class="form-control" type="text" id="cpf" formControlName="cpf" [textMask]="{mask: mascaraCpf}" required placeholder="Digite seu CPF">
                    <i class="md md-account-circle form-control-feedback l-h-34"></i>
                </div>
                <div class="col-xs-12" style="border: 0px solid red;">
                    <app-form-field-error [form-control]="resourceForm.get('cpf')"></app-form-field-error>
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-xs-12">
                    <input class="form-control" type="password" [type]="isTextFieldType ? 'text' : 'password'" id="senha" formControlName="senha" required placeholder="Senha" >
                    <i class="md md-vpn-key form-control-feedback l-h-34"></i>
                    <span (click)="togglePasswordFieldType()">a</span>
                </div>
                <div class="col-xs-12" style="border: px solid red;">
                    <app-form-field-error [form-control]="resourceForm.get('senha')"></app-form-field-error>
                </div>
            </div>

            <!--div class="form-group">
                <div class="col-xs-12">
                    <input class="form-control" type="text" id="dataNascimento" formControlName="dataNascimento" [textMask]="{mask: mascaraNascimento}" required placeholder="Data de Nascimento" >
                    <i class="md md-vpn-key form-control-feedback l-h-34"></i>
                </div>
                <div class="col-xs-12" style="border: px solid red;">
                    <app-form-field-error [form-control]="resourceForm.get('dataNascimento')"></app-form-field-error>
                </div>
            </div-->

            <div class="form-group">
                <div class="col-xs-12">
                    <div class="checkbox checkbox-primary">
                        <input id="checkbox-signup" type="checkbox">
                        <label for="checkbox-signup">
                            Lembre de mim
                        </label>
                    </div>

                </div>
            </div>

            <div class="form-group text-right m-t-20">
                <div class="col-xs-12">
                    <button class="btn btn-primary btn-custom w-md waves-effect waves-light" type="submit">
                        Entrar
                    </button>
                </div>
            </div>

            <div class="form-group m-t-30">
                <div class="col-sm-7">
                    <a href="pages-recoverpw.html" class="text-muted"><i class="fa fa-lock m-r-5"></i> Esqueceu sua senha?</a>
                </div>
                <!--div class="col-sm-5 text-right">
                    <a href="pages-register.html" class="text-muted">Crie a sua conta aqui</a>
                </div-->
            </div>
        </form>
    </div>
    <div>
        <!--app-server-error-messages [server-error-messages]="serverErrorMessages"></app-server-error-messages-->
    </div>

</div>
