<div class="wrapper-page">

    <div class="text-center">
        <a href="index.html" class="logo logo-lg">

            <div style="border: 0px solid red;" class="logoimg">
                <img src="assets/images/iamspe/logo_iamspe3.png" width="200px" height="auto" />
            </div>

        </a>
    </div>

    <div class="form-horizontal m-t-20">
        <form [formGroup]="resourceForm" (submit)="submitForm()">
            <div class="form-group">
                <div class="col-xs-12">
                    <input class="form-control" type="text" id="login" formControlName="login" [textMask]="{mask: cpfcnpjmask}" required placeholder="Digite seu CPF ou N.º CARTEIRINHA">
                    <i class="md md-account-circle form-control-feedback l-h-34"></i>
                </div>
                <div class="col-xs-12" style="border: 0px solid red;">
                    <app-form-field-error [form-control]="resourceForm.get('login')"></app-form-field-error>
                </div>
            </div>

            <div>
                <app-server-error-messages [server-error-messages]="serverErrorMessages"></app-server-error-messages>
            </div>

            <div class="form-group text-right m-t-20">
                <div class="col-xs-12">
                    <button [disabled]="submittingForm || resourceForm.invalid" class="btn btn-primary btn-custom w-md waves-effect waves-light" type="submit">
                        Entrar
                    </button>
                </div>
            </div>

        </form>
    </div>
    

    
    <div>
        <!-- Show Dialog Error -->
        <p-dialog [(visible)]="showDialogError" modal="modal" [style]="{width: '40vw', top: '-100px'}" [baseZIndex]="10000" >
            <p-header>
                Atenção 
            </p-header>
            
            <div style="text-align: center; height: 30px;">
                Usuário ou senha inválidos 
            </div>

            <p-footer>
                <button type="button" pButton icon="pi pi-check" (click)="showDialogError=false" label="&nbsp;OK" class="ui-button-primary"></button>
            </p-footer>
        </p-dialog>
    </div>

</div>
